bin/
*~
*.ncb
*.sln
*.suo
*.ilk
*.pdb
*.so
*.so.*
*.vcproj
*.vcproj.*
*.vcxproj
*.vcxproj.*
*.opensdf
*.depend.*
*.sdf
ipch/
Makefile*
GNUmakefile*
.build-version
*_db.sql3
nbproject/
gatewayversion.mpb
build/
serialization/
